/* App.css */
.custom-navbar {
    background-color: #e6d8c9!important;
    /* height: 9%; */
     /* background-color: #d899f8!important; */
  }
  .scroll-nav{
    padding-right: 30px;
  }
  .nav-brand{
    padding-left: 30px;
  }
